In [1]:
import math
import numpy as np
import re
import string
from collections import Counter
import statistics

In [26]:
print("SOLVED EXAMPLE:")
print("Find the union of two sets")
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
union_set = set1.union(set2)
print(f"Set 1: {set1}")
print(f"Set 2: {set2}")
print(f"Union: {union_set}")
print("-" * 50)

SOLVED EXAMPLE:
Find the union of two sets
Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
--------------------------------------------------

In [2]:
#1
Set=set(range(1,11))
print(Set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [10]:
#2
Set=set(range(1,6))
print(Set)
Set.add(11)
print(Set)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 11}

In [9]:
#3
Set=set(range(1,6))
print(Set)
Set.remove(3)
print(Set)

{1, 2, 3, 4, 5}
{1, 2, 4, 5}

In [14]:
#4
Set1=set(range(1,6))
print(Set1)
Set2=set(range(4,9))
print(Set2)

Set3=Set1.intersection(Set2)
print(Set3)

Set4=Set2.intersection(Set1)
print(Set4)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{4, 5}
{4, 5}

In [15]:
#5
Set1=set(range(1,6))
print(Set1)
Set2=set(range(4,9))
print(Set2)

Set3=Set1.difference(Set2)
print(Set3)

Set4=Set2.difference(Set1)
print(Set4)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{1, 2, 3}
{8, 6, 7}

In [16]:
#6
Set=set(range(1,11))
print(Set)
print(5 in Set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
True

In [17]:
#7
Set={'a', 'b', 'c', 'd', 'e'}
print(Set)
print(len(Set))

{'b', 'd', 'c', 'a', 'e'}
5

In [21]:
#8
String="hello world"
print(String)
Set=set(String)
print(Set)
vowels={'a', 'e', 'i', 'o', 'u'}
Set=set(String)&vowels
print(Set)

hello world
{'r', 'd', 'h', 'l', 'e', 'o', ' ', 'w'}
{'o', 'e'}

In [22]:
#9
List=[1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
Set=set(List)
print(Set)

{1, 2, 3, 4, 5, 6, 7}

In [25]:
#10
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5, 6}
print(set1,set2)
print(set1.issubset(set2))

{1, 2, 3} {1, 2, 3, 4, 5, 6}
True