In [1]:
import math
import numpy as np
import re
import string
from collections import Counter
import statistics

In [24]:
print("SOLVED EXAMPLE:")
print("Find the sum and product of all elements in a tuple")
numbers = (2, 4, 6, 8, 10)
sum_tuple = sum(numbers)
product = 1
for num in numbers:
    product *= num
print(f"Tuple: {numbers}")
print(f"Sum: {sum_tuple}")
print(f"Product: {product}")
print("-" * 50)

SOLVED EXAMPLE:
Find the sum and product of all elements in a tuple
Tuple: (2, 4, 6, 8, 10)
Sum: 30
Product: 3840
--------------------------------------------------

In [3]:
#1
Tupple=tuple(range(1,11))
print(Tupple)

Tupple1=(1,2,3,4,5,6,7,8,9,10)
print(Tupple1)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [5]:
#2
Tuple=(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(len(Tuple))

10

In [6]:
#3
Tuple=('a', 'b', 'c', 'd', 'e')
print(Tuple[2])

c

In [7]:
#4
Tuple=(23, 45, 12, 67, 34, 89, 56)
print(max(Tuple))

89

In [8]:
#5
Tuple=(1, 5, 2, 5, 3, 5, 4, 5, 6)
print(Tuple.count(5))

4

In [10]:
#6
Tuple=(55,55.99,"bharath",True)
print(Tuple)

(55, 55.99, 'bharath', True)

In [11]:
#7
Tuple=('java', 'python', 'c++', 'javascript')
print(Tuple.index('python'))

1

In [14]:
#8
Tuple=(10, 20, 30, 40, 50)
print(24 in Tuple)

False

In [18]:
#9
Tupple=tuple(range(2,11,2))
print(Tupple)

(2, 4, 6, 8, 10)

In [23]:
#10
Tuple=(15, 23, 31, 42, 56, 78)
avg=sum(Tuple)/len(Tuple)
print(avg)

avg1=statistics.mean(Tuple)
print(avg1)

avg2=math.fsum(Tuple)/len(Tuple)
print(avg2)

40.833333333333336
40.833333333333336
40.833333333333336